<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<link rel="stylesheet" href="/css/home.css">

<body>
    <h1>Welcome to Donation Home Page</h1>
    <div class="topnav">
        <a href="./charity">Donate</a>
        <a href="./login">Login</a>
        <a href="./admin">Admin</a>
        <a href="./signup">Signup</a>
        <a href="./register">Register Charity</a>
        <a href="./test">test</a>
    </div>

    <div class="container">
        <div class="card">
            <h3>Charity Spotlight</h3>
            <p>Join us in supporting incredible causes that make the world a better place.</p>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/home.js"></script>
    <!-- <script src="../home/home.js"></script> -->

</body>
</html>