<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/signup.css">
<body>
    <h1>Welocme to Signup Page</h1>
    <form id="form">
        <label for="nameid">Name:</label>
        <input type="text" id="nameid" name="username" required>
        <label for="emailid">Email :</label>
        <input type="email" id="emailid" name="email" required>
        <label for="passwordid">Password :</label>
        <input type="text" name="password" id="passwordid" required>
        <label for="adminemailid">Admin Email (if admin):</label>
        <input type="email" name="adminemail" id="adminemailid"><br><br>
        <button type="submit">Signup</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/signup.js"></script>
</body>
</html>